* {
    box-sizing: border-box;
}

body {
    background: rgb(34, 193, 195);
    background: linear-gradient(31deg, rgba(34, 193, 195, 1) 0%, rgb(136, 190, 112) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 300vh;
    /* font-size: 1.8rem; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    /* min-height: 20vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.reset-btn {
    margin: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: -32px;
    border-radius: 5px;
    border: none;
    width: 45px;
    height: 45px;
    background-color: rgb(136, 209, 209);
    /* background-color: rgb(228, 90, 90); */
    font-size: 1.5rem;
    text-align: center;
    color: white;
    border-radius: 100%;
    padding-left: 7px;
}


/* .reset-clicked {
    transition: 0.2s;
    transform: rotate(360deg);
} */

form {
    /* margin: auto; */
    /* min-height: 10vh; */
    display: flex;
    /* text-align: center; */
    justify-content: center;
    justify-items: center;
}

form button {
    font-size: 2rem;
    width: 3rem;
    transition: 0.5s;
    color: white;
    background-color: rgb(136, 209, 209);
    border: none;
    padding: 0.5rem 0.6rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button:hover {
    transition: 0.5s;
    /* opacity: 0.7; */
    color: rgb(247, 197, 73);
}

input {
    font-size: 30px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
}

input:focus {
    outline-width: 0;
}

button:focus {
    outline-width: 0;
}

.list-container {
    /* margin: auto; */
    /* text-align: left; */
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
}

ul {
    /* min-width: 30%; */
    list-style: none;
}

.list-div-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    min-width: 30%;
    /* padding-left: 0.5rem; */
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 0.5rem;
    margin-left: -1.7rem;
}

.check-btn-style {
    color: green;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background: rgb(71, 179, 71);
    color: white;
}

.delete-btn-style {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background-color: tomato;
    color: antiquewhite;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list-div-style li {
    flex: 1;
    padding: 0rem 0.5rem;
}

.checked-list-item {
    text-decoration: line-through;
}

.fa-trash-alt,
.fa-check {
    /* basically saying, you can no longer click these emoticons
     (which makes them act as part of the button containing them) */
    pointer-events: none;
}

.fall-away {
    transition: 0.3s;
    transform: translateY(8rem);
    transform: rotateZ(20deg);
    opacity: 0;
}

@media only screen and (max-width: 875px) {
    .list-div-style {
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        /* background-color: white;
        color: black; */
        /* max-height: 12vh; */
        /* padding-left: 0.5rem; */
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 670px) {
    /* .list-div-style {
        margin-left: 1.2rem;
        margin-right: 1.4rem;
    } */
}

@media only screen and (max-width: 470px) {
    .list-div-style {
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        /* background-color: white;
        color: black; */
        /* max-height: 12vh; */
        /* padding-left: 0.5rem; */
        font-size: 1rem;
    }
}

@media only screen and (max-width: 410px) {
    input {
        width: 75%;
    }
    .list-div-style {
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        /* background-color: white;
        color: black; */
        min-width: 30%;
        /* max-height: 12vh; */
        /* padding-left: 0.5rem; */
        border-radius: 5px;
        font-size: 0.8rem;
        margin: 1rem;
        margin-left: -1.7rem;
    }
}

@media only screen and (max-width: 320px) {
    .list-div-style {
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        /* background-color: white;
        color: black; */
        min-width: 30%;
        /* max-width: 60%; */
        /* max-height: 12vh; */
        /* padding-left: 0.5rem; */
        border-radius: 5px;
        font-size: 0.8rem;
    }
}